<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alhikmah.ciprb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HouseHoldInformationActivity"></activity>
        <activity android:name=".SplashActivity"></activity>

        <activity
            android:name=".HomeActivity"
            android:launchMode="singleInstance">

        </activity>

        <activity android:name=".HouseHoldMemberDetailsActivity">

        </activity>
        <activity android:name=".DeathConfirmationActivity">

        </activity>
        <activity android:name=".InjuryMorbidityActivity">


        </activity>
        <activity android:name=".InjuryMortalityActivity"></activity>
        <activity android:name=".SuicideAttemptActivity">

            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->


        </activity>
        <activity android:name=".RoadTransportInjuryActivity"></activity>
        <activity android:name=".ViolenceInjuryActivity"></activity>
        <activity android:name=".BurnInjuryActivity"></activity>
        <activity android:name=".CutInjuryActivity">

        </activity>
        <activity android:name=".ElectrocautionActivity">

        </activity>
        <activity android:name=".FallInjuryActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".InjuryBluntActivity">

        </activity>
        <activity android:name=".InsectInjuryActivity">

        </activity>
        <activity android:name=".NearDrowningActivity">

        </activity>
        <activity android:name=".QualityOfLifeActivity">

        </activity>
        <activity android:name=".HouseHoldCharacteristicsActivity">


        </activity>
        <activity android:name=".SuffocationActivity"></activity>
        <activity android:name=".ToolInjuryActivity"></activity>
        <activity android:name=".UnintentionalPoisoningActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>