<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciprb.injury">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.ciprb.injury.SplashActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.HomeActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name="com.ciprb.injury.HouseHoldInformationActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.HouseHoldMemberDetailsActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.DeathConfirmationActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.InjuryMorbidityActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.InjuryMortalityActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.localdb.AndroidDatabaseManager"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ciprb.injury.SuicideAttemptActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.ciprb.injury.RoadTransportInjuryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ciprb.injury.ViolenceInjuryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ciprb.injury.BurnInjuryActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ciprb.injury.CutInjuryActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.ElectrocautionActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.FallInjuryActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.InjuryBluntActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.InsectInjuryActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.NearDrowningActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.QualityOfLifeActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.HouseHoldCharacteristicsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.ciprb.injury.SuffocationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.ciprb.injury.ToolInjuryActivity"></activity>
        <activity
            android:name="com.ciprb.injury.UnintentionalPoisoningActivity"
            android:configChanges="orientation"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.ciprb.injury.SpinnerTest"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">


        </activity>


        <activity android:name=".HouseHoldMemberDetailsActivityTest"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>