<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciprb.injury">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.ciprb.injury.SplashActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.HomeActivity"
            android:configChanges="orientation" android:windowSoftInputMode="stateHidden"

            android:launchMode="singleInstance"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name="com.ciprb.injury.HouseHoldInformationActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.HouseHoldMemberDetailsActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.DeathConfirmationActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.InjuryMorbidityActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.InjuryMortalityActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.localdb.AndroidDatabaseManager" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ciprb.injury.SuicideAttemptActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.ciprb.injury.RoadTransportInjuryActivity"
            android:configChanges="orientation" android:windowSoftInputMode="stateHidden"

            android:screenOrientation="portrait" />
        <activity
            android:name="com.ciprb.injury.ViolenceInjuryActivity"
            android:configChanges="orientation" android:windowSoftInputMode="stateHidden"

            android:screenOrientation="portrait" />
        <activity
            android:name="com.ciprb.injury.BurnInjuryActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ciprb.injury.CutInjuryActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.ElectrocautionActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.FallInjuryActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.InjuryBluntActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.InsectInjuryActivity" android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.NearDrowningActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.QualityOfLifeActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.HouseHoldCharacteristicsActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"

            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ciprb.injury.SuffocationActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"

            android:screenOrientation="portrait" />
        <activity android:name="com.ciprb.injury.ToolInjuryActivity"></activity>
        <activity
            android:name="com.ciprb.injury.UnintentionalPoisoningActivity"
            android:windowSoftInputMode="stateHidden"

            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ciprb.injury.SpinnerTest"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >


    </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>